---
// src/Components/Ui/Preloader.astro
---
<div id="preloader" class="fixed inset-0 bg-nova-bg z-[99999] flex justify-center items-center transition-all duration-[800ms] ease-out">
    <svg class="preloader-logo w-[300px] md:w-[550px] overflow-visible" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1280 1024">
        <defs>
            <style>
                .st0 { fill: #eb6737; }
                .st1 { fill: #b26747; }
                .st2 { fill: #f29575; }
            </style>
        </defs>
        <g>
            <path class="st2" d="M416.71,724.87h15.84l25.21,32.51v-32.51h16.8v61.51h-14.88l-26.17-33.74v33.74h-16.8v-61.51Z"/>
            <path class="st2" d="M546.42,755.8v-.18c0-17.66,14.18-31.99,33.08-31.99s32.91,14.15,32.91,31.81v.18c0,17.66-14.18,31.99-33.08,31.99s-32.91-14.15-32.91-31.81ZM595.08,755.8v-.18c0-8.87-6.39-16.61-15.75-16.61s-15.49,7.56-15.49,16.43v.18c0,8.88,6.39,16.61,15.67,16.61s15.58-7.56,15.58-16.43Z"/>
            <path class="st2" d="M675.51,724.87h18.99l13.92,38.93,13.92-38.93h18.64l-24.86,61.95h-15.75l-24.86-61.95Z"/>
            <path class="st2" d="M822.46,724.43h16.37l26.08,61.95h-18.2l-4.46-10.98h-23.63l-4.38,10.98h-17.85l26.08-61.95ZM837.34,762.13l-6.83-17.49-6.91,17.49h13.74Z"/>
        </g>
        <path class="st1" d="M433.47,827.12h-18.38v-14.94h53.74v14.94h-18.38v46.57h-16.98v-46.57Z"/>
        <path class="st1" d="M511.27,812.18h49.28v14.5h-32.47v9.32h29.41v13.44h-29.41v9.75h32.91v14.5h-49.71v-61.51Z"/>
        <path class="st1" d="M604.66,812.18h28.97c9.36,0,15.84,2.46,19.96,6.68,3.59,3.52,5.43,8.26,5.43,14.32v.18c0,9.4-4.99,15.64-12.6,18.89l14.62,21.44h-19.6l-12.34-18.63h-7.44v18.63h-16.98v-61.51ZM632.84,841.7c5.78,0,9.1-2.81,9.1-7.29v-.18c0-4.83-3.5-7.29-9.19-7.29h-11.12v14.76h11.2Z"/>
        <path class="st1" d="M702.6,812.18h28.97c9.36,0,15.84,2.46,19.96,6.68,3.59,3.52,5.43,8.26,5.43,14.32v.18c0,9.4-4.99,15.64-12.6,18.89l14.62,21.44h-19.6l-12.34-18.63h-7.44v18.63h-16.98v-61.51ZM730.78,841.7c5.78,0,9.1-2.81,9.1-7.29v-.18c0-4.83-3.5-7.29-9.19-7.29h-11.12v14.76h11.2Z"/>
        <path class="st1" d="M820.67,811.74h16.37l26.08,61.95h-18.2l-4.46-10.98h-23.63l-4.38,10.98h-17.85l26.08-61.95ZM835.55,849.44l-6.83-17.49-6.91,17.49h13.74Z"/>
        <rect class="st2" x="527.8" y="150.31" width="15.22" height="196.22"/>
        <rect class="st2" x="569.64" y="150.31" width="15.22" height="196.22"/>
        <rect class="st2" x="695.14" y="150.31" width="15.22" height="196.22"/>
        <rect class="st2" x="736.97" y="150.31" width="15.22" height="196.22"/>
        <polyline class="st2" points="611.47 269.55 626.69 287.29 626.69 193.94 611.47 176.14"/>
        <polyline class="st2" points="653.31 318.19 668.53 335.92 668.53 242.57 653.31 224.78"/>
        <g>
            <polygon class="st0" points="539.04 366.18 531.37 366.18 527.16 379.17 543.25 379.17 539.04 366.18"/>
            <polygon class="st0" points="580.6 366.18 572.97 366.18 568.72 379.17 584.85 379.17 580.6 366.18"/>
            <polygon class="st0" points="622.2 366.18 614.52 366.18 610.32 379.17 626.45 379.17 622.2 366.18"/>
            <rect class="st0" x="635.79" y="435.98" width="8.55" height="20.85"/>
            <polygon class="st0" points="629.5 490.57 602.88 490.57 602.88 501.39 611.94 508.51 611.94 631.79 619.84 631.79 619.84 539.2 629.5 539.2 629.5 490.57"/>
            <polygon class="st0" points="594.42 496.77 600.1 496.77 600.1 476.52 582.49 476.52 582.49 527.05 595.34 537.86 595.34 631.79 609.16 631.79 609.16 538.23 594.42 524.64 594.42 496.77"/>
            <polygon class="st0" points="680.02 496.77 685.66 496.77 685.66 524.64 670.96 538.19 670.96 631.79 684.79 631.79 684.79 537.86 697.64 527.05 697.64 476.52 680.02 476.52 680.02 496.77"/>
            <polygon class="st0" points="677.25 490.57 650.63 490.57 650.63 539.2 660.24 539.2 660.24 631.79 668.19 631.79 668.19 508.51 677.25 501.39 677.25 490.57"/>
            <rect class="st0" x="622.61" y="541.98" width="34.9" height="120.88"/>
            <polygon class="st0" points="663.94 482.9 663.94 427.02 654.09 427.02 654.09 435.98 647.11 435.98 647.11 456.83 650.63 456.83 650.63 482.9 663.94 482.9"/>
            <polygon class="st0" points="613.37 478.6 613.37 435.98 597.19 435.98 597.19 473.75 607.31 473.75 607.31 478.6 613.37 478.6"/>
            <polygon class="st0" points="616.14 427.02 616.14 482.9 629.5 482.9 629.5 456.83 633.01 456.83 633.01 435.98 626.03 435.98 626.03 427.02 616.14 427.02"/>
            <polygon class="st0" points="752.6 411.48 752.6 381.95 527.53 381.95 527.53 411.48 512.14 411.48 512.14 422.49 522.54 422.49 522.54 445.04 535.02 445.04 535.02 491.5 541.67 491.5 541.67 486.78 567.05 486.78 567.05 473.75 594.42 473.75 594.42 433.21 613.37 433.21 613.37 424.24 628.81 424.24 628.81 433.21 651.32 433.21 651.32 424.24 666.71 424.24 666.71 433.21 685.66 433.21 685.66 473.75 713.08 473.75 713.08 486.78 738.45 486.78 738.45 491.5 745.11 491.5 745.11 445.04 757.59 445.04 757.59 422.49 767.99 422.49 767.99 411.48 752.6 411.48"/>
            <rect class="st0" x="632.27" y="459.6" width="15.58" height="79.6"/>
            <polygon class="st0" points="682.89 473.75 682.89 435.98 666.71 435.98 666.71 478.6 672.81 478.6 672.81 473.75 682.89 473.75"/>
            <polygon class="st0" points="748.76 366.18 741.09 366.18 736.84 379.17 752.97 379.17 748.76 366.18"/>
            <polygon class="st0" points="707.16 366.18 699.53 366.18 695.28 379.17 711.41 379.17 707.16 366.18"/>
            <polygon class="st0" points="665.56 366.18 657.93 366.18 653.68 379.17 669.81 379.17 665.56 366.18"/>
        </g>
    </svg>
</div>

<style>
    .preloader-logo path, 
    .preloader-logo rect, 
    .preloader-logo polygon, 
    .preloader-logo polyline {
        stroke: var(--nova-accent);
        stroke-width: 2px;
        stroke-dasharray: 2000; 
        stroke-dashoffset: 2000; 
        fill-opacity: 0; 
        animation: 
            drawStroke 2.5s cubic-bezier(0.77, 0, 0.175, 1) forwards,
            fillColor 0.8s ease-out 2.2s forwards; 
    }

    @keyframes drawStroke {
        to { stroke-dashoffset: 0; }
    }

    @keyframes fillColor {
        to { 
            fill-opacity: 1; 
            stroke-width: 0; 
        }
    }

    #preloader.hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
</style>
